<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fb952765262608502</string>
      </array>
      </dict>
    </array>
    <key>FacebookAppID</key>
    <string>952765262608502</string>
    <key>FacebookClientToken</key>
    <string>a8ff28468b888b0ff92265fabca55fb7</string>
    <key>FacebookDisplayName</key>
    <string>HealthyLife</string>
    
    
    
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-share-api</string>
    </array>
    
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>fb952765262608502</string>
      </array>
      </dict>
    </array>
    <key>FacebookAppID</key>
    <string>952765262608502</string>
    <key>FacebookClientToken</key>
    <string>a8ff28468b888b0ff92265fabca55fb7</string>
    <key>FacebookDisplayName</key>
    <string>HealthyLife</string>
    
    
    
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-share-api</string>
    </array>
    
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.111947603788-8ko651615t23afq87168lcbvanin5vcj</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb952765262608502</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>paprika.ttf</string>
		<string>monserat.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>white</string>
	</dict>
</dict>
</plist>
